name: Daily Bot
on:
  schedule:
    - cron: '0 15 * * *' 
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Script
        run: |
          curl -O https://raw.githubusercontent.com/Shpota/github-activity-generator/main/contribute.py
          python contribute.py --max_commits=3 --frequency=80 --repository=https://${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}.git
